@{
    Layout = "~/Views/Store/_Layout.cshtml";
}
<div class="text-center m-4">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll ship your goods as soon as possible.</p>

    <a asp-action="Index" asp-controller="Store"
       class="btn btn-primary">
        OK
    </a>
</div>
